*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-image: url(si.jpg);
     background-size: cover;
     background-position: center center;
     background-attachment: fixed;
   
}
body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg,#A52A2A,#00FFFF);
    opacity: 0.7;
    z-index: -1;
}
